@font-face {
        font-family: 'Roboto';
        src:  url('../fonts/Roboto-Regular.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
}
.hello {
    color: red;
    background: url('../images/rocket.svg');
    font-family: Roboto
}